version: '3'
services:
  client:
    container_name: client_mb
    build: ./client
    volumes:
      - ./client/src:/app/src
      - ./client/public:/app/public
      - ./client/package.json:/app/package.json
      - /app/node_modules
    ports:
      - 3000:3000
    stdin_open: true
  server:
    container_name: server_mb
    build: ./server
    volumes:
      - ./server/package.json:/app/package.json
      - /app/node_modules
    ports:
      - 3001:3000
    stdin_open: true
    tty: true
